body {
background-image: url('background.jpg');
background-size: cover;
margin: 0;
padding: 0;
}
h1 {
text-align: center;
}
p {
color: blue;
font-size: 26px;
text-align: Center;
}

#nav {
text-align: center;
text-transform: Uppercase;
}

#nav ul {
display: inline-block;
list-style: none;
}

#nav li {
display: inline;
}

#nav a {
background-color: black;
float: left;
text-decoration: none;
padding: 0 40px; /* variable width */
border-radius: 30px;
}
#nav li a:hover {
background-color: red;
}
#nav li a.active {
background: -moz-linear-gradient(right, red, grey, yellow);
border-radius: 25px;
}